.authLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;

    @media screen and (max-width:600px) {
        display: none;
    }


    img {
        height: 200px;
        width: 200px;
        border-radius: 12px;
        animation: float 6s ease-in-out infinite;
        position: absolute;

        @media screen and (max-width :800px) {
            height: 140px;
            width: 140px;
        }

    }

    .img1 {

        top: 15%;
        left: 50px;
        animation: float2 6s ease-in-out infinite;
    }

    .img2 {

        top: 30%;
        right: 30px;
        animation: float2 6s ease-in-out infinite;
    }

    .img3 {

        bottom: 20%;
        left: 50%;
        right: 50%;
        transform: translateX(-50%) rotate(10deg);
    }

    .titleContainer {
        z-index: 2 !important;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 5px 20px;
        border-radius: 4px;
        text-align: center;

        .authTitle {
            letter-spacing: 6px;
            font-family: 'Sigmar', cursive !important;
            font-size: 26px;

        }
    }


    @keyframes float {
        0% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translateX(-50%) translatey(0px) rotate(-10deg) scale(1.08);
        }

        50% {
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            transform: translateX(-50%) translatey(-20px) rotate(10deg) scale(0.9);
        }

        100% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translateX(-50%) translatey(0px) rotate(-10deg) scale(1.08);
        }
    }

    @keyframes float2 {
        0% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translatey(0px) rotate(10deg) scale(1.08);
        }

        50% {
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            transform: translatey(-20px) rotate(-10deg) scale(0.9);
        }

        100% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translatey(0px) rotate(10deg) scale(1.08);
        }
    }

    @keyframes float3 {
        0% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translatey(0px) rotate(10deg) scale(1.08);
        }

        25% {
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            transform: translatey(-20px) rotate(-10deg) scale(0.9);
        }

        50% {
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            transform: translatey(-10px) rotate(-5deg) scale(0.5);
        }

        100% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translatey(0px) rotate(10deg) scale(1.08);
        }
    }
}