@import "../../App.scss";

.customSelect {
    color: white;
    width: 300px;
    max-width: 300px;

    position: relative;

    .customSelectHeader {
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &.headerOpen {
            border-bottom: none;

            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

    }

    .customSelectListBody {
        position: absolute;
        left: 0;
        right: 0;
        top: 40px;
        bottom: 0;
        height: 180px;
        max-height: 180px;
        overflow-y: scroll;
        z-index: 2;
        background-color: #212121;
        border: 1px solid lightgray;
        border-top: none;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        @include hideScrollbar();


        .selectSearch {
            width: 100%;
            outline: none;
            border: none;
            padding: 10px;
            background-color: #212121;
            border-bottom: 1px solid lightgray;
            color: white;
            font-size: 14px;
        }

        .customSelectList {

            .customSelectListItem {
                padding: 10px;
                list-style: none;
                border-bottom: 1px solid rgba(211, 211, 211, 0.411);
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                font-size: 14px;

                span {
                    font-size: 10px;

                    img {
                        height: 35px;
                        width: 35px;
                        border-radius: 50%;
                    }
                }

                &.selectedUser {
                    background-color: rgba(211, 211, 211, 0.205);
                }
            }
        }
    }
}