.authContainer {
    display: flex;
    align-items: center;
    min-height: 100vh;

    overflow-x: hidden;


    .authRight {
        min-height: 100vh;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-left: 1px solid lightgrey;
        background-color: #212121;

        @media screen and (max-width:980px) {
            display: block;
        }

        .formContainer {
            @media screen and (max-width:980px) {
                padding: 0 40px;
            }
        }

        .logoContainer {

            display: flex;
            justify-content: center;
            align-items: center;

            .logo {
                height: 200px;
                width: 200px;
                margin-top: -20px;
                object-fit: contain;
            }
        }



        .bottomText {
            text-align: center;
            color: rgba(255, 255, 255, 0.582);
            margin-top: 5px;

            a {
                margin-left: 8px;
                color: #a3e583;
            }
        }
    }
}